<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--NETWORK/GPS-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--NETWORK(RED)-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--INTERNET-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--Check devices connection state-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PermissionsGPS"
        tools:targetApi="31">

<!--        API KEY from Maps for Android SDK on Google Cloud Platform-->
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBxU1M5Y_Kc6rNoJTszcztg3KSjEhYT_qw" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>